# Define
snippet os
	os.tmpdir()
# Define
snippet os
	os.endianness()
# Define
snippet os
	os.hostname()
# Define
snippet os
	os.type()
# Define
snippet os
	os.platform()
# Define
snippet os
	os.arch()
# Define
snippet os
	os.release()
# Define
snippet os
	os.uptime()
# Define
snippet os
	os.loadavg()
# Define
snippet os
	os.totalmem()
# Define
snippet os
	os.freemem()
# Define
snippet os
	os.cpus()
# Define
snippet os
	os.networkInterfaces()
# Define
snippet os
	os.EOL
