#W Define
snippet path
	path.normalize()
# Define
snippet path
	path.join([],[],[])
# Define
snippet path
	path.resolve([from...], to)
# Define
snippet path
	path.relative(from, to)
# Define
snippet path
	path.dirname($1:{p})
# Define
snippet path
	path.basename(p, [ext])
# Define
snippet path
	path.extname($1:{p})
# Define
snippet path
	path.sep
# Define
snippet path
	path.delimiter
