# Define
snippet pipe
	pipe('${1:destination}', [${2:options}]){
# Define	
snippet processstdin
	process.stdin.pipe(${1:process.stdout});
		${2:}
	});
# Define
snippet processout
	process.stdin.pipe(${1:process.stdout});
	${2:}	
