#Define
snippet punycode
	punycode.decode(string)
#Define
snippet punycode
	punycode.encode(string)
#Define
snippet punycode
	punycode.toUnicode(domain)
#Define
snippet punycode
	punycode.toASCII(domain)
#Define
snippet punycode
	punycode.ucs2
#Define
snippet punycode
	punycode.ucs2.decode(string)
#Define
snippet punycode
	punycode.ucs2.encode(codePoints)
#Define
snippet punycode
	punycode.version
