
# Define
snippet querystring
	querystring.stringify(obj, [sep], [eq])

# Define
snippet querystring
	querystring.parse(str, [sep], [eq], [options])

# Define
snippet querystring
	querystring.parse(str, [sep], [eq], [options])

# Define
snippet querystring
	querystring.escape

# Define
snippet querystring
	querystring.unescape
